* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

input[type=text] {
  width: 200px;
  padding: 10px;
  margin: 50px 0px 10px 10px;
  background-color: green;
  color: black;


}

input[type=checkbox] {
  margin: 50px 0px 10px 10px;

}

input::placeholder {
  color: yellow;
  font-weight: bold;
}

button {
  padding: 10px;
  margin: 0px 0px 0px 10px;
  background-color: black;
  color: white;
  font-weight: bold;
}